.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.visited-flags img {
    width: 100px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px
}